html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #555252;
}

.wrapper {
    width: 1110px;
    margin: 0 auto;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.page-header {
    height: auto;
    overflow: hidden;
}

/* Logo */

.logo {
    display: inline-block;
}

.logo a {
    color: #555252;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #555252;
}

.logo::first-letter {
    display: inline-block;
    color: #1abc9c;
    font-weight: 900;
}

/* Site menu */

.site-menu {
    float: right;
    width: 476px;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.site-menu li {
    float: left;
}

.site-menu li:not(:last-child) {
    margin-right: 30px;
}

.site-menu-item a {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 11px;
    text-decoration: none;
    text-transform: uppercase;
    color: #0f0101;
    cursor: pointer;
}

.site-menu a:hover,
.site-menu a:focus {
    color: #48c9b0;
}

/* Title */

.title {
    text-align: center;
    font-family: 'Roboto', black;
    font-size: 48px;
    line-height: 58px;
    font-weight: 600;
    margin-bottom: 92px;
}

.title p {
    margin-bottom: 26px;
}

.title::after {
    display: block;
    content: "";
    background-color: #1abc9c;
    width: 163px;
    height: 7px;
    margin: 32px auto 0;
}

/* About */

.about-list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 100px;
}

.about-list-item {
    width: 255px;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
    cursor: pointer;
}

.about img {
    width: 255px;
    height: 282px;
}

.about-list-item:nth-child(4n) {
    margin-right: 0;
}

.about-list-item:nth-last-child(-n + 4) {
    margin-bottom: 0;
}

.product-name {
    width: 201px;
    padding: 0 0 0 13px;
    text-transform: uppercase;
    background-color: #323232;
}

.product-name,
.product-price {
    display: block;
    height: 40px;
    float: left;
    margin: 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
}

.about-list a {
    display: block;
}

.about-list-item-tr:hover {
    background: #1abc9c;
}

/* .product-name:hover{
    background: #1abc9c;
} */

.product-price {
    width: 54px;
    text-align: center;
    background-color: #8c8c8c;
}

/* Last news */

.title-news {
    text-align: center;
    font-family: 'Roboto', black;
    font-size: 48px;
    line-height: 58px;
    font-weight: 600;
    margin-bottom: 92px;
}

.title-news p {
    margin-bottom: 26px;
}

.title-news::after {
    display: block;
    content: "";
    background-color: #1abc9c;
    width: 163px;
    height: 7px;
    margin: 32px auto 0;
}

/* News */

.news-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width:
}

.news-list-item {
    width: 350px;
    float: left;
    margin-right: 30px;
}

.news-list-item:nth-child(3n) {
    margin-right: 0;
}

.news-list-item h3 {
    padding-right: 50px;
    width: 320px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: -1.6px;
}

.news-list-item p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -1.1px;
    margin-bottom: 12px;
}

.news-button {
    width: 159px;
    height: 51px;
    background: #4ec6ab;
    color: #ffffff;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    border-radius: 5px;
    margin-bottom: 80px;
}

.news-button:hover,
.news-button:focus {
    background: #0f0101;
}